.overlap-section{
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.4);
}

#navCont {
    /* background-color: rgba(255,255,255,0.5); */

}

.nav-colored { background-color:#000; }
.nav-transparent { background-color:transparent;}

